version: '3'

services:
  app:
    build:
      context: ..
      dockerfile: Dockerfile.dev
    volumes:
      - ../../:/workspace:cached
      - /mnt/optssd/docker_data/hinav-book-thum:/opt/product_thum:ro
    command: sleep infinity
    environment:
      SQLALCHEMY_DATABASE_URL: "postgresql://postgres:password@db:5432/mydatabase"
      DATA_ROOT: /workspace/api/.data-dev
      APP_ROOT: /workspace/api
      IS_DEV: true
      DEBUG_LOG: true

  db:
    image: postgres:latest
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: mydatabase
      POSTGRES_PASSWORD: password

volumes:
  postgres-data:
