bcrypt==5.0.0

matplotlib
opencv-contrib-python==4.13.0.92
passlib==1.7.4
imagehash==4.3.2
PyJWT==2.11.0
httpx==0.28.1
rapidfuzz==3.14.3

# FastAPI
fastapi==0.129.0
python-multipart==0.0.22
uvicorn[standard]==0.40.0
gunicorn==25.1.0

# DB関係
alembic==1.18.4
SQLAlchemy==2.0.46
psycopg2==2.9.11

# 画像処理
Pillow==12.1.1
