bcrypt==4.0.1

matplotlib
opencv-contrib-python==4.8.0.76
pandas==2.0.3
passlib==1.7.4
imagehash==4.3.1
PyJWT==2.8.0
httpx==0.24.1
rapidfuzz==3.6.1

# FastAPI
fastapi==0.116.1
python-multipart==0.0.20
uvicorn[standard]==0.35.0
gunicorn==23.0.0

# DB関係
alembic==1.16.5
SQLAlchemy==2.0.43
psycopg2==2.9.10

# 画像処理
Pillow==11.3.0